SECRET_KEY=change-me
DATABASE_URL=postgres://user:password@host/dbname
ALLOWED_HOSTS=banda-oriental-backend.onrender.com
CORS_ALLOWED_ORIGINS=https://bandaoriental.xami.uy
DJANGO_SUPERUSER_EMAIL=you@example.com
DJANGO_SUPERUSER_PASSWORD=change-me
R2_ACCESS_KEY_ID=change-me
R2_SECRET_ACCESS_KEY=change-me
R2_BUCKET_NAME=banda-oriental-stems
R2_ENDPOINT_URL=https://<account-id>.r2.cloudflarestorage.com
